@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

@font-face {
    font-family: "GE MB";
    src: url("../fonts/ge_mb_mb/light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GE MB";
    src: url("../fonts/ge_mb_mb/medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GE MB";
    src: url("../fonts/ge_mb_mb/bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary : #016B19;
    --secondary: #C9A227;
    --filterPrimary : invert(18%) sepia(94%) saturate(2016%) hue-rotate(126deg) brightness(99%) contrast(99%);
    --filterSecondary : invert(53%) sepia(100%) saturate(333%) hue-rotate(8deg) brightness(100%) contrast(92%);
    --filterWhite : invert(99%) sepia(0%) saturate(4787%) hue-rotate(41deg) brightness(127%) contrast(96%);
}
*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "GE MB", sans-serif;
    scroll-behavior: smooth;
    &::selection{
        background-color: var(--primary);
        color: #fff; 
    }
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background-color: #eee;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--primary); 
        border-radius: 8px;
    }
}

body{
    direction: rtl;
    overflow-x: hidden;
}

div::-webkit-scrollbar ,
ul::-webkit-scrollbar ,
nav::-webkit-scrollbar {
    height: 5px;
}

.dir_ltr {
    direction: ltr;
}


.baloo-bhaijaan {
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

/**********************************************
   Start Global Style
**********************************************/
.color-gray{
    color: #ccc;
}
.color-gray2{
    color: #888;
}
.color-dark{
    color: #1B2021;
}

.filter_white{
    filter: var(--filterWhite);
}

/* Color Primary  */
.color_primary{
    color: var(--primary) !important;
}
.bg_primary {
    background-color: var(--primary) !important;
}
.border_primary {
    border-color: var(--primary) !important;
}
.filter_primary{
    filter: var(--filterPrimary);
}

/* Color Secondary  */
.color_secondary{
    color: var(--secondary) !important;
}
.bg_secondary {
    background-color: var(--secondary) !important;
}
.border_secondary {
    border-color: var(--secondary) !important;
}
.filter_secondary {
    filter: var(--filterSecondary);
}


p ,
.p {
    font-size: 15px;
    color: #7E807F;
    line-height: 1.7rem;
    margin-bottom: 0;
}

a{
    color: #000;
    transition: all .3s ease-in-out;
    text-decoration:none !important;
    &:hover{
        color:var(--primary) !important;
    }
    &:focus{
       outline:0;
    }
}

del ,
.del {
    text-decoration: line-through;
    color: #888;
    font-size: 80%;
}

ul{
    list-style-type:none;
    padding: 0;
}

button{
    border: none;
    padding: 0;
    transition: all .3s linear;
    background-color: transparent;
    &:focus{
        border: none;
        box-shadow: transparent;
        outline:0;
    }
}

button:active,
button:active:focus,
button:active:hover,
button:focus,
button:hover,
button:not(:disabled):not(.disabled).active,
button:not(:disabled):not(.disabled):active {
    transition: all .3s ease;
    outline: 0;
    box-shadow: none;
}

form{
    .form-group{
        position: relative;
    }
    .form-control{
        font-size: 14px;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
            border: 1px solid var(--primary) !important;
        }
    }
    input , 
    select{
        height: 60px !important;
    }
    .form-check-input:checked {
        background-color: var(--primary);
        border-color: var(--primary);
        box-shadow: none;
    }
    textarea {
        resize: none;
    }
    .form-check-input {
        height: 1em !important;
    }
}

.progress-wrap {
    position: fixed;
    inset-inline-end: 15px;
    bottom: 15px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba($color: #333 , $alpha: .2);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(130%);
    z-index: 99;
    transition: all 200ms linear;

    &::after {
        background: url(../images/icons/top-arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        color: var(--primary);
        left: 10.5px;
        top: 10.5px;
        height: 25px;
        width: 25px;
        display: block;
        filter: var(--filterPrimary);
    }

    svg {
        path {
            fill: #f8f8f8;
        }
        &.progress-circle{
            path {
                stroke: var(--primary);
                stroke-width: 4;
                box-sizing: border-box;
            }
        }
    }

    &.active-progress{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.container ,
.container-fluid,
.zi-5 {
    position: relative;
    z-index: 5;
}

.secImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-end {
    text-align: end;
}

.overflow_hidden {
    overflow: hidden !important;
}

.bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba($color: #123864, $alpha: .3);
}
// @include overlay;

.w-fit{
    width: fit-content;
}

.position-unset {
    position: unset;
}

.underline{
    text-decoration: underline !important;
}

.trans_3 {
    transition: all .3s linear;
}

/**********************************************
   Start Loader
**********************************************/
#preloader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    &::after,
    &::before {
        content: "";
        position: fixed;
        left: 0;
        height: 50%;
        width: 100%;
        background: -webkit-gradient(linear, left top, right top, from(#0d1a36), color-stop(#132650), to(#0a152e));
        background: linear-gradient(to right, #0d1a36, #132650, #0a152e);
        -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    .logo_img {
        width: 300px;
        max-width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 20;
        opacity: 0.5;
    }

    /*----------- upload loader ------------*/
    #loading-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #0005;
        display: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &.show {
            display: block;
        }
        #loading-text {
            display: block;
            position: absolute;
            top: calc(50% - 38px);
            left: 50%;
            color: #fff;
            width: 100px;
            height: 100px;
            margin: -7px 0 0 -45px;
            text-align: center;
            font-size: 20px;
        }
        img {
            width: 100px;
            height: 100px;
            -o-object-fit: contain;
                object-fit: contain;
        }
        #loading-content {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 170px;
            height: 170px;
            margin: -85px 0 0 -85px;
            border: 3px solid #F00;
            &::after {
                content: "";
                position: absolute;
                border: 3px solid #0F0;
                left: 15px;
                right: 15px;
                top: 15px;
                bottom: 15px;
            }
            &::before {
                content: "";
                position: absolute;
                border: 3px solid #00F;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
            }
        }
        #loading-content {
            border: 3px solid transparent;
            border-top-color: #3659A3;
            border-bottom-color: #3659A3;
            border-radius: 50%;
            -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
            &::before {
                border: 3px solid transparent;
                border-top-color: #0aafde;
                border-bottom-color: #0aafde;
                border-radius: 50%;
                -webkit-animation: loader 3s linear infinite;
                animation: loader 3s linear infinite;
            }
            &::after {
                border: 3px solid transparent;
                border-top-color: #E33F74;
                border-bottom-color: #E33F74;
                border-radius: 50%;
                -webkit-animation: loader 1.5s linear infinite;
                animation: loader 1.5s linear infinite;
                -moz-animation: loader 2s linear infinite;
                -o-animation: loader 2s linear infinite;
            }

        }
    }
    
    &.isdone {
        visibility: hidden;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        #loading-wrapper {
            opacity: 0;
            -webkit-transform: scale(3);
                    transform: scale(3);
            -webkit-filter: blur(2px);
                    filter: blur(2px);
        }
        &::after,
        &::before {
            height: 0;
            -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
            transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
            -webkit-transition-delay: 1s;
            transition-delay: 1s;
        }
    }

    #content-wrapper {
        color: #FFF;
        position: fixed;
        left: 0;
        top: 20px;
        width: 100%;
        height: 100%;
    }

    #header {
        width: 800px;
        margin: 0 auto;
        text-align: center;
        height: 100px;
        background-color: #666;
    }

    #content {
        width: 800px;
        height: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #888;
    }
    @keyframes loader {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

/**********************************************
   Start Animations
**********************************************/

@keyframes floating-y {
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}

@keyframes floatingX {
    0%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
    }
}

// .slide_ltr{
//     transform: translateX(5%);
//     transition: all 1.2s ease-in-out;
//     transition-delay: .1s;
//     clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
//     &.animated{
//         transform: translateX(0%);
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//     }
//     &.no_scale{
//         transform: scale(1);
//     }
// }


// .slide_rtl{
//     // transform: scale(1.05);
//     transform: translateX(-5%);
//     transition: all 1s ease-in-out;
//     transition-delay: .1s;
//     clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
//     &.animated{
//         transform: translateX(0%);
//        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//     }
//     &.no_scale{
//         transform: scale(1);
//     }
// }



@keyframes puff-in {
    0% {
      transform: scale(1.2);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
}
.puff-in {
	animation: puff-in 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}
.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/**********************************************
   Start mouse
**********************************************/
.mouse {
	border: solid 2px #eda135;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: fixed;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	will-change: transform;
	z-index: 9999;
	pointer-events: none;
}

.mouse::before {
	content: "";
	background-color: #eda135;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 2px;
	border-radius: 50%;
	transition-duration: 0.3s;
	z-index: 999;
}


.mouse-link::before {
	width: 22px;
	height: 22px;
	z-index: 998;
}

.mouse::after {
	content: "";
	z-index: 997;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	opacity: 0;
}

.mouse-clicked::after {
	animation-name: click;
	animation-duration: 0.7s;
	animation-fill-mode: forward;
	animation-timing-function: cubic-bezier(0.22, 0.69, 0.31, 0.77);
}

@keyframes click {
	0% {
		width: 0;
		height: 0;
		opacity: 0.8;
	}
	100% {
		width: 300px;
		height: 300px;
		opacity: 0;
	}
}
